header 
  background-color:  rgb(2, 25, 54)
  padding: 30px
  text-align: center

*
  font-family: 'Gelasio', serif

div 
  padding-top: 30px
  text-align: center
  padding-bottom: 20px

.button 
    background-color: #f44336
    border: none
    color: yellow
    padding: 6px
    text-align: center
    text-decoration: none
    font-size: 12px
    margin: 1px 1px
    cursor: pointer
    border-radius: 12px

h1
  color: white
  text-align: center
  padding-top: 50px

h2, h3 
  color: black
  text-align: center
  padding-top: 50px

h6 
  text-align: center
  color: black

h4
  text-align: center
  color: rgb(255, 208, 0)
  padding-top: 10px

p 
  color: rgb(201, 193, 193)
  text-align: center
  padding-top: 50px

.column 
  float: left
  width: 33.33%
  padding: 10px

.column2 
  float: left
  width: 25%
  padding: 10px

ul.list1
    color: white
    float : right

ul.list2 
     justify-content: center

ul.list3 
  color: #ccc

li.r1, li.r2 
    display: inline-block
    padding-left: 30px

.column2 > h6 
    background-color: rgb(20, 155, 155)

.column2 > p 
    background-color: beige;

/* create responsive */
@media (max-width: 600px) 
    .column
    .column2
    ul.list2
    li.r2
        width: 100%;

.form-inline 
  text-align: center
  background-color: rgb(255, 218, 10)
  color: rgb(255, 218, 10)
  justify-content: center
  padding-bottom: 10px
  padding-top:5px

.form-control 
  background-color: rgb(255, 218, 10)
  color: #ccc
  border: none
  border-bottom: 2px solid white

img.card-img 
  display: block
  margin-left: auto
  margin-right: auto
  width: 50%
  box-shadow: 2px 2px 5px black

.border 
   display: inline-block
   width: 150px
   height: 120px
   background-color: #555
   margin: 10px
 
.flex 
  padding: 0
  margin: 0
  list-style: none
  
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: row wrap
  justify-content: space-around

input[type=text] 
  width: 0px
  box-sizing: border-box
  border: 2px solid #ccc
  border-radius: 4px
  font-size: 16px
  background-color: rgb(9, 116, 134)
  background-position: 10px 10px
  background-repeat: no-repeat
  padding: 10px 1px 10px 1px
  -webkit-transition: width 0.4s ease-in-out
  transition: width 0.4s ease-in-out

button[type=submit] 
  background-color: #2d17a7
  border: none
  color: rgb(255, 218, 10)
  padding: 6px
  text-align: center
  text-decoration: none
  font-size: 12px
  margin: 1px 1px
  cursor: pointer
  border-radius: 12px

button[type=button2] 
  background-color: #f44336
  border: none
  color: rgb(255, 255, 255)
  padding: 6px
  text-align: center
  text-decoration: none
  font-size: 12px
  margin: 2px 2px
  cursor: pointer
  border-radius: 12px

input[type=text]:focus 
  width: 80%

#logo 
  float: left

#nuron 
  display: block
  margin-left: auto
  margin-right: auto

#big 
  background-color: rgb(181, 255, 250)

#start
  background-color: rgb(2, 25, 54)

#all
  background-color: #f44336 
  border-radius: 12px 
  text-align: center
  padding: 6px

footer 
     background-color: rgb(2, 25, 54)
     left: 0
     bottom: 0
     width: 100%
     color: white
     text-align: center

 